/* 通用样式 */
.leftfix {
    float: left;
}

.rightfix {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1190px;
    margin: 0 auto;

}

/* #region版心1-顶部导航条 */
.topbar {
    height: 30px;
    background-color: #ECECEC;
}



.topbar-left {
    font-size: 0px;
    color: #666;
    height: 30px;
    line-height: 30px;
}

.topbar-left a,
.topbar-left span {
    font-size: 12px;
}

.topbar-left span {
    margin-right: 28px;
}

.topbar-left a:first-of-type {
    padding-right: 10px;
    border-right: 1px solid #666;
}

.topbar-left a:nth-of-type(2) {
    padding: 0 10px;

}

.topbar-right {
    height: 30px;
    line-height: 30px;
}

.topbar-right>ul>li {
    float: left;


}

.topbar-right>ul>li>a {
    padding: 0 15px;
    border-right: 1px solid #666;
}

.topbar-right>ul>li:last-child>a {
    padding-right: 0;
    border-right: 0;
}

/* #endregion */

/* #region版心2-头部 */
.header {
    height: 120px;

}

.header-right {
    font-size: 0;
    margin: 42px 0;
}

.header>.container>.rightfix>form>input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
}

.header>.container>.rightfix>form>button {
    width: 80px;
    height: 36px;
    background: red no-repeat center url("../imag/serch_icon.png");
    vertical-align: bottom;
}

/* #endregion */

/* #region版心3-主导航 */
.main-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}

.main-nav-left1 {
    width: 190px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: #DD302D;
}

.main-nav-left2>li {
    margin: 0 10px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    color: #333;
    float: left;
}

/* #endregion */

/* #region版心4-内容区 */
.main-content {
    height: 458px;
    margin: 10px 0;
}

.main-content-left {
    position: relative;

    font-size: 14px;
    color: #333;
    height: 458px;
    width: 190px;
    line-height: 28px;
    /* 容容器高度加距上，下距离的一半*/
    background-color: #F4F4F4;
}

.main-content-left>li {
    padding-left: 16px;
}

.main-content-left>li:hover {
    background-color: #DD302D;

}

.main-content-left>li:hover>a {
    color: white;
}

.main-content-left .second-menu {
    position: absolute;
    width: 700px;
    height: 458px;
    background-color: white;
    left: 190px;
    top: 0;
    display: none;
}

.main-content-left>li:hover>.second-menu {
    display: block;

}

.second-menu>dl {
    height: 36px;
    line-height: 36px;

}

.second-menu>dl:first-child {
    margin-top: 10px;
}

.second-menu>dl>dd>a {
    height: 20px;
    padding: 0 10px;
    border-left: 1px solid #666;
}

.second-menu>dl>* {
    float: left;

}

.second-menu>dl>dt>a {
    font-weight: bold;
    margin: 0 20px;
    width: 70px;
    height: 20px;
}

/* 中 */
.main-content-middle {
    height: 458px;
    width: 690px;
    margin: 0 10px;
}

/* 右上 */
.main-content-rt {
    padding: 0 14px;
    height: 156px;
    width: 260px;
    border: 1px solid rgb(217, 217, 217);
    margin-bottom: 10px;
}

.main-content-rt>div {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #666;
}

.main-content-rt>div>span {
    font-weight: bold;
}

.main-content-rt>ul {
    line-height: 26px;
}


/* 右下 */
.main-content-rb {
    width: 258px;
    height: 258px;
    overflow: hidden;
    padding: 16px;
}

.main-content-rb>ul {
    margin-bottom: 17px;
}

.main-content-rb>ul>li {
    margin: 0 11px;
    float: left;
    width: 48px;
    height: 70px;
    text-align: center;
}

.main-content-rb>ul>li>div {
    width: 48px;
    height: 48px;
}

.main-content-rb>ul>li>span {
    font-size: 12px;
}

.main-content-rb>ul>li:first-child {
    margin-left: 0;
}

.main-content-rb>ul>li:last-child {
    margin-right: 0;
}

/* #region icon */
.main-content-rb>ul:nth-child(1)>li:nth-child(1)>div {
    background-image: url("../imag/精灵图-侧边功能.png");

}

.main-content-rb>ul:nth-child(1)>li:nth-child(2)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: -48px 0;

}

.main-content-rb>ul:nth-child(1)>li:nth-child(3)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: -96px 0;


}

.main-content-rb>ul:nth-child(1)>li:nth-child(4)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: -144px 0;


}

.main-content-rb>ul:nth-child(2)>li:nth-child(1)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: -0px -48px;


}

.main-content-rb>ul:nth-child(2)>li:nth-child(2)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: -48px -48px;


}

.main-content-rb>ul:nth-child(2)>li:nth-child(3)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: -96px -48px;


}

.main-content-rb>ul:nth-child(2)>li:nth-child(4)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: -144px -48px;


}

.main-content-rb>ul:nth-child(3)>li:nth-child(1)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: 0px -96px;


}

.main-content-rb>ul:nth-child(3)>li:nth-child(2)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: -48px -96px;


}

.main-content-rb>ul:nth-child(3)>li:nth-child(3)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: -96px -96px;


}

.main-content-rb>ul:nth-child(3)>li:nth-child(4)>div {
    background-image: url("../imag/精灵图-侧边功能.png");
    background-position: -144px -96px;
    /* #endregion */

}

/* #endregion */

/* #region版心5-秒杀 */
.seckill .container>div>img {
    margin-right: 11px;
    float: left;
}

.seckill .container>div>img:last-child {
    margin-right: 0;
}

/* #endregion */

/* #region版心6-楼层 */
/* 上 */
.floor {
    margin-top: 48px;
}

.floor .floor-nav {
    height: 30px;
    line-height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}

.floor .floor-nav>span {
    font-size: 20px;
    color: black;
}

.floor .floor-nav>ul>li {
    float: left;
}

.floor .floor-nav>ul>li>a {
    font-style: 16px;
    padding: 0 10px;
    border-right: 1px solid #666;
}

.floor .floor-nav>ul>li:first-child>a {
    padding-left: 0;
}

.floor .floor-nav>ul>li:last-child>a {
    padding-right: 0;
    border: 0;
}

/* 下 */
.floor .floor-info>div {
    float: left;
}

.floor .floor-info>div:nth-child(1) {
    padding: 20px;
    height: 392px;
    width: 190px;
    background-color: #F4F4F4;
}

.floor .floor-info>div:nth-child(1)>ul>li {
    height: 22px;
    width: 90px;
    border-bottom: 1px solid #666;
    text-align: center;
    padding-bottom: 3.5px;
}

.floor .floor-info>div:nth-child(1)>ul>li>a {
    font-size: 16px;
}

.floor .floor-info>div:nth-child(1)>ul>li:nth-child(4),
.floor .floor-info>div:nth-child(1)>ul>li:nth-child(3) {
    margin: 14.5px 0;
}

.floor .floor-info>div:nth-child(1)>ul>li:nth-child(2n-1) {
    float: left;
}

.floor .floor-info>div:nth-child(1)>ul>li:nth-child(2n) {
    float: right;
}

.floor .floor-info>div:nth-child(1)>div {
    width: 194px;
    height: 242px;
    margin-top: 30px;
}

.floor .floor-info>div:nth-child(2) {
    height: 432px;
    width: 340px;
}

.floor .floor-info>div:nth-child(3),
.floor .floor-info>div:nth-child(5) {
    height: 430px;
    width: 206px;
}

.floor .floor-info>div:nth-child(3)>img,
.floor .floor-info>div:nth-child(5)>img {
    border-bottom: 1px solid #E2E2E2;
}

.floor .floor-info>div:nth-child(4) {
    height: 431px;
    width: 206px;
    border: 1px solid #E2E2E2;
    border-top: 0;
}

/* #endregion */

/* #region版心7-页脚 */
.footer {
    height: 440px;
    background-color: #483E3E;
    margin-top: 48px;
}

.footer-nav-top>ul {
    margin-top: 48px;
    margin-right: 10px;
    float: left;
    width: 190px;
    height: 176px;
}

.footer-nav-top>ul:last-child {
    margin-right: 0;
}

.footer-nav-top>ul>li {
    line-height: 20px;
}

.footer-nav-top>ul>li>a {
    color: white;
    font-size: 14px;
}

.crossline {
    height: 1px;
    background-color: #584D4D;
}

.footer-nav-bo {
    margin-top: 47px;

}

.footer-nav-bo>ul {
    text-align: center;
}

.footer-nav-bo>ul>li {
    display: inline;
}

.footer-nav-bo>ul>li>a {
    color: white;
    padding: 0 10px;
    border-right: 1px solid;
}

.footer-nav-bo>ul>li:first-child>a {
    padding-left: 0;
}

.footer-nav-bo>ul>li:last-child>a {
    padding-right: 0px;
    border: 0;
}

.copyright {
    color: white;
    text-align: center;
}

/* #endregion */